<%- include('layouts/head'); -%> 

<div style='margin-top: 5rem;'>
  <h4>404: page not found or doesn't exist</h4>
  <a href="/">return to the home page</a>
</div>


<%- include('layouts/footer'); -%> 